
/*CSS selector -- element vi vil modifisere
CSS declaration {} identifiserer hvor vi skriver koden for modifisering
CSS rule + key*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /*shorthand method*/
    border: 3px black solid;
     /*longhand method
         border-width: 3px;
    border-color: brown;
    border-style: solid;*/

    padding: 10px;
    border-radius: 50%;

}

img {
max-width: 100%;
}

.hero {
    display: flex;
}

.heroText, .heroImg {
    width: 50%;
}